<!DOCTYPE html>
<html>
<head>
  <title>Admin announcement</title>
  <%= stylesheet_link_tag    "admin_announcement/application", media: "all" %>
  <%= javascript_include_tag "admin_announcement/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
